{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "plugins": ["@prettier/plugin-php"],
    "phpVersion": "8.2",
    "braceStyle": "psr-2"
}
